FORMAT: 1A
HOST: http://ed2016.vts.it/

# ED

Service Oriented Architecture specified for the ED project.


#######################
# Group Profiles
#######################

Resources related to user's profile in the API.

## Profiles collections [/profiles{?orgType}{?searchType}{?searchValue}{?page}{?sort}{?pageSize}]

+ Attributes
    + results (array[Profile1, Profile2, Profile3], required) - array of profiles
    + count: 3 (number, required) - total number of resources fetched by the query.

### List Profiles [GET]
Search user profiles.

+ Parameters
    + searchType: lname (enum[string]) - Field to filter
        + Members
            + lname
            + fname
            + email
            + dname
            + dcode
    + searchValue: BIANCHI (string) - value to search
    + orgType: UO (string) - Codice tipo struttura da filtrare
    + page: 1 (optional, number) - The page of profiles to return
    + sort: fname (enum[string], optional) - Sorting order
        + Members
            + lname
            + fname
            + dname
            + country
    + pageSize: 25 (optional, number) - Amount of results to return

+ Response 200 (application/json)

    + Attributes (Profiles collections)

+ Response 400
    Returned when input does not pass validation.

    + Body

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

## Profile [/profiles/{id}]

+ Parameters
    + id: 1 (required, number) - id of the user

+ Attributes (Profile1)

### Read Profile [GET]

+ Response 200 (application/json)

    + Attributes (Profile)

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

### Update Profile [PUT]

+ Request (application/json)

    + Attributes (Profile Update)

+ Response 200

+ Response 400
    Returned when input does not pass validation.

    + Body

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

### Delete Profile [DELETE]

+ Response 204

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

## User personal profile [/profiles/my]

Used to retrieve user personal details.

### Read Profile [GET]

+ Response 200 (application/json)
  + Attributes (Profile)

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

## Profile Informations collections [/profiles/{id}/infos]

+ Parameters
    + id: 1 (required, number) - id of the user

+ Attributes
    + results (array[ProfileInfoExpertiseSummary, ProfileInfoCertification, ProfileInfoGeneralExperienceBusiness, ProfileInfoGeneralExperienceIndustry, ProfileInfoGeneralExperienceCustomer, ProfileInfoTechnicalExperience, ProfileInfoSolutionsProducts, ProfileInfoCommunities, ProfileInfoBusinessGoals, ProfileInfoProfessionalOrganizations, ProfileInfoProjects, ProfileInfoTeam], required) - array of profiles
    + count: 12 (number, required) - total number of resources fetched by the query.

### List Profile Informations [GET]
List user profile informations.

+ Response 200 (application/json)

    + Attributes (Profile Informations collections)

+ Response 400
    Returned when input does not pass validation.

    + Body

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body
    
## Profile Information [/profiles/{id}/infos/{type}]

+ Parameters
    + id: 1 (required, number) - id of the user
    + type: expertiseSummary

+ Attributes (ProfileInfoExpertiseSummary)

### Read Profile Information [GET]

+ Response 200 (application/json)

    + Attributes (Profile Information)

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

### Update Profile Information [PUT]

+ Request (application/json)

    + Attributes (Profile Information)

+ Response 200

+ Response 400
    Returned when input does not pass validation.

    + Body

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

### Delete Profile Information [DELETE]

+ Response 204

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

## Profile Addresses collections [/profiles/{id}/addresses]

+ Parameters
    + id: 1 (required, number) - id of the user

+ Attributes
    + results (array[ProfileAddress], required) - array of profiles addresses
    + count: 1 (number, required) - total number of resources fetched by the query.

### List Profile Informations [GET]
List user profile addresses.

+ Response 200 (application/json)

    + Attributes (Profile Addresses collections)

+ Response 400
    Returned when input does not pass validation.

    + Body

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

## Profile Address [/profiles/{id}/addresses/{type}]

+ Parameters
    + id: 1 (required, number) - id of the user
    + type: business (required) - type of the user address

+ Attributes (ProfileAddress)

### Read Profile Address [GET]

+ Response 200 (application/json)

    + Attributes (Profile Address)

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

### Update Profile [PUT]

+ Request (application/json)

    + Attributes (Profile Address)

+ Response 200

+ Response 400
    Returned when input does not pass validation.

    + Body

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

### Delete Profile [DELETE]

+ Response 204

+ Response 404
    Returned when the required resource cannot be found.

    + Body

+ Response 500
    Returned when a generic error occours.

    + Body

## Profiles Types collections [/profiles/types]

+ Attributes
  + count: 3 (number, required) - total number of resources fetched by the query.
  + results (array, required) - array of resources
      + (object)
          + id: ASG
          + descr: IBM Assigned
      + (object)
          + id: UBD
          + descr: UBIS Delegates
      + (object)
          + id: EXT
          + descr: Extended Team IBM

### List types [GET]
The list of types of employee. (HR Admin - People modify)

+ Response 200 (application/json)
  + Attributes (Profiles Types collections)
  

## Profiles roles collections [/profiles/roles]

+ Attributes
  + count: 4 (number, required) - total number of resources fetched by the query.
  + results (array, required) - array of resources
      + (object)
          + id: 1
          + descr: ADMIN
      + (object)
          + id: 2
          + descr: ND
      + (object)
          + id: 3
          + descr: RCM
      + (object)
          + id: 8
          + descr: USER
          
### List types [GET]
The list of user's roles. (HR Admin)
+ Response 200 (application/json)
  + Attributes (Profiles roles collections)

#######################
# Group Organizations
#######################

## Organization types collections [/organizations/types]

+ Attributes
  + count: 3 (number, required) - total number of resources fetched by the query.
  + results (array, required) - array of resources
      + (object)
          + id: 1
          + descr: Business
      + (object)
          + id: 2
          + descr: Maintenance
      + (object)
          + id: 3
          + descr: Other
  

### List types [GET]
The list of structure types. (Hierarchical View - List Organization, Homepage)
+ Response 200 (application/json)
  + Attributes (Organization types collections)

#######################
# Group Organization Units
#######################


## Organization Units collections [/ous{?page}{?sort}{?pageSize}]

+ Parameters
    + page: 1 (optional, number) - The page of results to return
    + sort: firstName (optional) - Sorting order
    + pageSize: 25 (optional, number) - Amount of results to return

+ Attributes
    + results (array[Organization1, Organization2, Organization3], required) - array of first-level organizations
    + count: 3 (number, required) - total number of resources fetched by the query.

### List Organization Units [GET]
Returns the company's organization structure tree.
+ Response 200 (application/json)
  + Attributes (Organization Units collections)


#######################
# Group Countries
#######################


## Countries collections [/countries]

+ Attributes
  + count: 3 (number, required) - total number of resources fetched by the query.
  + results (array, required) - array of resources
      + (object)
          + id: 1
          + descr: Italy
      + (object)
          + id: 2
          + descr: Germany
      + (object)
          + id: 3
          + descr: Austria
      + (object)
          + id: 4
          + descr: Spain


### List countries [GET]
The list countries. (HR Admin - People insert, HR Admin - People modify)
+ Response 200 (application/json)
  + Attributes (Countries collections)


#######################
# Group General Messages
#######################

## General Messages [/generalMessages]

+ Attributes (object)
    + availabilityAlert (object)
        + firstRow: `first row alert` (string)
        + secondRow: `second row alert` (string)
    + newRelease (object)
        + firstRow: `first row release` (string)
        + secondRow: `second row release` (string)

### Read general messages [GET]
Get the general message.
+ Response 200 (application/json)
    + Attributes (General Messages)

### Update general messages [PUT]
Update the general message with a new one.
+ Request (application/json)
    + Attributes (General Messages)

+ Response 200

#######################
# Group Support Requests
#######################

## Support Requests Collection [/supportRequests{?page}{?sort}{?pageSize}]

+ Parameters
    + page: 1 (optional, number) - The page of results to return
    + sort: firstName (optional) - Sorting order
    + pageSize: 25 (optional, number) - Amount of results to return

+ Attributes (object)
    + results (array[Support Request Closed, Support Request Open, Support Request Assigned], required)
    + count: 3 (number)

### Support requests list [GET]
Get the list with all the support requests.
+ Response 200 (application/json)
    + Attributes (Support Requests Collection)

## Support Request [/supportRequests/{id}]

+ Parameters
    + id: 1 (required, number) - id of the request

+ Attributes (object)
    + id: 1 (required, number)
    + status: `Open` (enum[string],required)
        + Members
            + `Open`
            + `Assigned`
            + `Closed`
            + `Force closed`
    + requestor (object)
        + id: 3231 (required, number)
        + lastName: `Baggio` (required, string)
        + firstName: `Alessandro` (required, string)
    + date: `10/12/2015 12:12:10` (required, string)
    + type: `EntDirectory` (string)
    + title: `titolo blablablablabla` (required, string)
    + description: `descrizione blablablablablablablabla` (required, string)
    + closureDate (string)
    + documents (array)
        + `http://url.doc.1`
        + `http://url.doc.2`
        + `http://url.doc.3`

### Support request Detail [GET]
Get the detail of a support requests.
+ Response 200 (application/json)
    + Attributes (Support Request)

### Support requests update [POST]
Update a support requests (assign, close, force close,...).
+ Request (application/json)
    + Attributes (Support Request)
    
+ Response 200 (application/json)
    + Attributes (Support Request Detail Assigned)
    

## DRAFT - Documents Modify [/supportRequests/{id}/document]
+ Parameters
    + id: 1 (required, number) - id of the request
    
+ Attributes (Support Request Document Upload)

### Support request Document Upload [PUT]
Allow you to upload a new document for a support request
+ Request (application/json)
    + Attributes (Support Request Document Upload)

+ Response 200 (application/json)
    + Attributes (object)
        + id: 1 (required, number) - the id of the request
        + documents (array) - the new array of documents
            + `http://url.doc.1`
            + `http://url.doc.2`
            + `http://url.doc.3`
            + `http://url.doc.4`


### Support request Document Remove [POST]
Allow you to remove a support request's document
+ Request (application/json)
    + Attributes (Support Request Document Remove)

+ Response 200 (application/json)
    + Attributes (object)
        + id: 1 (required, number) - the id of the request
        + documents (array) - the new array of documents
            + `http://url.doc.1`
            + `http://url.doc.2`


+ Response 200 


#######################
# Group DRAFT - Configuration
#######################

This returns the application configuration. 
We keep this here for now just for documentation purpose,
it shouldn't be part of the API.

## Configuration [/configuration]

+ Attributes (object)
    + baseUrl: `http://private-bc401d-ed2016.apiary-mock.com` (string)

### Base URL configuration [GET]
Get the base URL configuration

+ Response 200 (application/json)
    + Attributes (Configuration)






# Data Structures

## ProfileDetail (object)
+ firstName: `MARIO` (required, string)
+ lastName: `BIANCHI` (required, string)
+ ouCode: `XL78481` (required, string)
+ ouDescr: `C-BOM` (required, string)
+ email: `mbianchi@acme.it` (required, string)
+ profession: `Senior Developer` (required, string)
+ isManager: `true`
+ phone (object)
    + country: 39
    + prefix: `011`
    + number: `12345678` (string)
+ mobilePhone (object)
    + country: `39`
    + prefix: `335`
    + number: `1234567` (string)
+ fax (object)
    + country: `39` (string)
    + prefix: `02` (string)
    + number: `3904912345678` (string)
+ imageUrl: `http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png`
+ businessUnit: `not used ?`,
+ internetAddress: `firstname.lastname@organization.com`
+ altInternetAddress: `firstname.lastname@organization2.com`
+ notesAddress: `indirizzo_notes@aaaaa.it`
+ userId: `????`
+ otherRoles: `????` (string)

## Profile1 (ProfileDetail)
+ id: 1 (number) - id of the profile

## Profile2 (ProfileDetail)
+ id: 2 (number) - id of the profile

## Profile3 (ProfileDetail)
+ id: 3 (number) - id of the profile

## Profile Update (object)
+ Include Profile
+ image: `R0lGODlhEAAOALMAAOazToeHh0tLS/7LZv/0jvb29t/f3//Ub//ge8WSLf/rhf/3kdbW1mxsbP//mf///yH5BAAAAAAAL` (string) - serialized stream (base64) representing the image.

## ProfileInfoExpertiseSummary
+ type: expertiseSummary
+ infoContent: `expertise summary text`

## ProfileInfoCertification
+ type: certification
+ infoContent: `certifications text`

## ProfileInfoGeneralExperienceBusiness
+ type: generalExperienceBusiness
+ infoContent: `business experience text`

## ProfileInfoGeneralExperienceIndustry
+ type: generalExperienceIndustry
+ infoContent: `industry experience text`

## ProfileInfoGeneralExperienceCustomer
+ type: generalExperienceCustomer
+ infoContent: `customer experience text`

## ProfileInfoTechnicalExperience
+ type: technicalExperience
+ infoContent: `industry experience text`

## ProfileInfoSolutionsProducts
+ type: solutionsProducts
+ infoContent: `solutions products text`

## ProfileInfoCommunities
+ type: communities
+ infoContent: `communities text`

## ProfileInfoBusinessGoals
+ type: businessGoals
+ infoContent: `business goals text`

## ProfileInfoProfessionalOrganizations
+ type: professionalOrganizations
+ infoContent: `professional organizations text`

## ProfileInfoProjects
+ type: projects
+ infoContent: `projects text`

## ProfileInfoTeam
+ type: team
+ infoContent: `team text`

## ProfileAddress
+ type (enum) - type of profile information
  + Members
    + business
+ street: Via Nizza 15
+ city: Torino
+ country: Italy
+ zip: 12345

## Organization1 (object)
+ ouCode:`XL9875`
+ ouName:`organization name 1`
+ people (array[Person1,Person2], optional)
+ parentId

## Organization2 (object)
+ ouCode:`XL8654`
+ ouName:`organization name 2`
+ people (array[Person3], optional)
+ parentId: `XL9875`

## Organization3 (object)
+ ouCode:`XL9352`
+ ouName:`organization name 1`
+ people (array[Person4,Person5], optional)
+ parentId: `XL9875`

##Person1 (object)
+ id: 1 (required, number)
+ lastName: `Linzi` (required, string)
+ firstName: `Giovanni` (required, string)
+ isManager: true (boolean)

##Person2 (object)
+ id: 2 (required, number)
+ lastName: `Linzi` (required, string)
+ firstName: `Giovanni` (required, string)
+ isManager: false (boolean)

##Person3 (object)
+ id: 3 (required, number)
+ lastName: `Signori` (required, string)
+ firstName: `Marco` (required, string)
+ isManager: true (boolean)

##Person4 (object)
+ id: 4 (required, number)
+ lastName: `Moretto` (required, string)
+ firstName: `Alberto` (required, string)
+ isManager: true (boolean)

##Person5 (object)
+ id: 5 (required, number)
+ lastName: `Tessarolo` (required, string)
+ firstName: `Giovanni` (required, string)
+ isManager: false (boolean)

##Support Request Closed (object)
+ id: 1 (required, number)
+ status: `Closed`
+ date: `10/12/2015 12:12:10` (required, string)
+ title: `titolo bla` (string)
+ closureDate: `15/12/2015 13:13:13` (string)
+ assignedTo (object)
    + id: 323 (required, number)
    + lastName: `Ferraro` (required, string)
    + firstName: `Alberto` (required, string)

##Support Request Open (object)
+ id: 2 (required, number)
+ status: `Open`
+ date: `10/12/2015 12:12:10` (required, string)
+ title: `titolo blablaaaaaablablabla` (string)
+ assignedTo (object)

##Support Request Assigned (object)
+ id: 3 (required, number)
+ status: `Assigned`
+ date: `10/12/2015 12:12:10` (required, string)
+ title: `titolo blablablablablwfwfwefa` (string)
+ assignedDate: `12/12/2015 12:22:12` (string)
+ assignedTo (object)
    + id: 323 (required, number)
    + lastName: `Ferraro` (required, string)
    + firstName: `Andrea` (required, string)
    + email: `fAlberto@email.it` (required, string)

##Support Request Update (object)
+ id: 1 (required, number) - id of the request that you wants to update
+ status: `Closed`
+ requestor (object)
    + id: 321 (required, number)
    + lastName: `Baggio` (required, string)
    + firstName: `Alessandro` (required, string)
+ date: `10/12/2015 12:12:10` (required, string)
+ type: `EntDirect` (string)
+ title: `titolo blablablablabla` (string)
+ description: `descrizione blablablablablablablabla` (string)
+ assignedTo (object)
    + id: 323 (required, number)
    + lastName: `Ferraro` (required, string)
    + firstName: `Alberto` (required, string)
    + email: `fAlberto@email.it` (required, string)

##Support Request Document Upload (object)
+ id: 1 (required, number) - id of the request that you wants to modify
+ document: `` (string) - base64 file to upload a document

##Support Request Document Remove (object)
+ id: 1 (required, number) - id of the request that you wants to modify
+ removeDocuments (array[string]) - array with documents to remove
    + `http://url.doc.3`

##Support Request Detail Assigned (object)
+ id: 1 (required, number)
+ status: Assigned (required, enum[string])
    + Members
        + Assigned
        + Closed
        + Force closed
        + Open
+ requestor (object)
    + id: 321 (required, number)
    + lastName: `Baggio` (required, string)
    + firstName: `Alessandro` (required, string)
+ date: `10/12/2015 12:12:10` (required, string)
+ type: `EntDirect` (string)
+ title: `titolo blablablablabla` (required, string)
+ description: `descrizione blablablablablablablabla` (required, string)
+ assignedDate: `12/12/2015 12:22:12` (string)
+ assignedTo (object)
    + id: 323 (required, number)
    + lastName: `Ferraro` (required, string)
    + firstName: `Alberto` (required, string)
    + email: `fAlberto@email.it` (required, string)
+ closureDate (string)
+ documents (array)
    + `http://url.doc.1`
    + `http://url.doc.2`
    + `http://url.doc.3`
